@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color-light: #3498db;
  --background-color-light: #f8f9fa;
  --text-color-light: #333;
  
  --primary-color-dark: #ffffff;
  --background-color-dark: #000000;
  --text-color-dark: #fff; */
}

body {
  
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 1s ease-out;
}
