@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-light: #3498db;
  --background-color-light: #f8f9fa;
  --text-color-light: #333;
  
  --primary-color-dark: #ffffff;
  --background-color-dark: #000000;
  --text-color-dark: #fff;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}

